/*-----------------------------------
Media Queries
-----------------------------------*/


@media screen and (max-width: 1100px) {

/*
	#intelRevo {
		position: relative;
		.copy {
			position: relative;
			display: inline-block;
			left: 50%;
			padding-right: 0px;
		}
		span {
			position: relative;
			right: 18.75px;
		}
		#circleGraphic {
			position: absolute;
			height: 80%;
			left: 6%;
			top: 10%;
			img {
				height: 100%;
			}
		}
	}
*/

	#intelRevo {
		.copy {
			left: 40%;
		}
		#circleGraphic {
			left: -200px;
		}
	}

	#whitePaper {
		#reportMkup {
			right: 0px;
		}
	}

	#stats {
		#stat2 {
			left: 10px;
		}
	}

	#archetypes {
		#archetypeWheel {
			right: 5%;
		}
	}

}


@media screen and (max-width: 1000px) {

	.content {
		background-attachment: scroll;
		.copy {
			width: 65%;
		}
	}

	#nav {
		display: none;
	}
	#mobNav {
		display: block;
		position: fixed;
	}

	#intelRevo {
		.copy {
			left: 0;
			right: 0;
			display: block;
			padding: 100px 0;
			margin: 0 auto;
		}
		#circleGraphic {
			position: relative;
			display: block;
			width: 60%;
			height: auto;
			left: 0;
			top: 0;
			margin: 0 auto;
			padding: 0 0 100px 0;
			img {
				height: auto;
				width: 100%;
			}
		}
	}

	#whitePaper {
		margin: 0 auto;
		.copy {
			padding: 100px 0;
			margin: 0 auto;
		}
		#reportMkup {
			position: relative;
			display: block;
			width: 65%;
			height: auto;
			margin: 0 auto;
			left: 20px;
			right: 0;
			top: 0;
			img {
				height: auto;
				position: relative;
				width: 100%;
				left: 20px;
				-ms-transform: rotate(7deg); /* IE 9 */
		   		-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
		  		transform: rotate(7deg);
			}

		}
	}

	#stats {
		.title {
			padding: 100px 0;
			width: 65%;
			margin: 0 auto;
		}
		.year {
			width: 65%;
			margin: 0 auto;
		}
		#statsContainer {
			top: 0px;
			display: block;
			width: 65%;
			margin: 0 auto;
			padding-bottom: 40px;
		}
		.stat {
			width: 230px;
			display: block;
			margin: 30px auto;
			padding: 1px;
		}
		#stat1 {
			top: 7px;
			float: default;
			margin-top: 15px;
		}
		#stat2 {
			top: 0px;
			float: none;
			left: 0;
			right: 0;
		}
		#stat3 {
			top: 0px;
			float: none;
			left: 0;
		}
	}

	#archetypes {
		#archetypeWheel {
			position: relative;
			display: block;
			width: 60%;
			right: 0;
			left: 0;
			top: 0;
			height: auto;
			margin: 0px auto 0 auto;
			padding-bottom: 75px;
			img {
				height: auto;
				width: 100%;
			}
		}
		.copy {
			margin: 0 auto;
			padding: 100px 0 80px 0;
			width: 65%;
		}

	}

	#logoSlate {
		#logos {
			img {
				width: 30%;
			}
		}
	}

	#footer {
		ul {
			li {
				padding: 18px;
				&:last-child {
					padding: 5px 18px;
				}
				a {
					padding: 15px;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	html, body, #container {
		font-size: 0.9em;
		font-weight: 400;
		h2 {
			color: $primary-grey;
		}
	}

	.content {
		background-image: url("../images/Background.jpg");
		.copy {
			width: 75%;
		}
		h3 {
			color: $primary-green;
			font-size: 1.4em;
			font-weight: 600;
		}
	}

	#mobNav {
		width: 100%;
		#mobNavLogo {
			height: auto;
			width: 35%;
			margin-left: 0;
			padding: 15px 0 15px 30px;

			img {
				height: auto;
				width: 100%;
			}
		}
	}

	#navButton {
		top: 15px;
	}

	#header {
		background-position: 55% 32%;
	}

	#header {
		height: 80%;
		h1 {
			line-height: 35px;
			font-size: 2.85em;
			position: relative;
			top: 5px;
		}
		h2 {
			font-size: 1.5em;
			line-height: 25px;
			color: white;

		}
		#headerTitle {
			width: 200px;
			height: 200px;
			top: 35%;
		}
		#headerText {
			top: 28px;
			left: 30px;
		}
		#box {
			width: 200px;
			height: 200px;
			border-width: 15px;
		}
	}

	#intelRevo {
		.copy {
			padding: 85px 0;
		}
		span {
			right: 15.5px;
		}
		#circleGraphic {
			width: 80%;
			padding-bottom: 75px;
		}
		h3 {
			line-height: 25px;
		}
	}

	#whitePaper {
		.copy{
			padding: 85px 0;
			h2 {
				line-height: 28px;
			}
		}
		#reportMkup {
			width: 85%;
			left: 0px;
			padding: 15px 0;
		}
	}

	#stats {
		.title {
			padding: 75px 0;
		}
		#statsContainer {
			position: relative;
			top: 0px;
			bottom: 20px;
		}
		.stat {
			width: 200px;
		}
		#stat1 {
			position: relative;
			.number {
				line-height: 40px;
			}
		}
		#stat2 {
			.number {
				line-height: 35px;
				span {
					right: 57px;
				}
			}
		}
		#stat3 {
			top: 0px;
			.number {
				line-height: 40px;
			}
		}
	}

	#archetypes {
		.copy {
			width: 67%;
			padding-bottom: 50px;
		}
		#archetypeWheel {
			width: 75%;
		}
	}

	#logoSlate {
		padding-bottom: 65px;
		p {
			font-size: 1.3em;
			padding: 50px 0;
		}
		#logos {
			height: auto;
			img {
				width: 55%;
				padding: 35px 0px;
			}
		}
	}

	#footer {
		height: 120px;
		background: -webkit-linear-gradient(-20deg, $secondary-green, $secondary-green 20%, $primary-purple 20%); /* For Safari 5.1 to 6.0 */
  		background: -o-linear-gradient(-20deg, $secondary-green, $secondary-green 20%, $primary-purple 20%); /* For Opera 11.1 to 12.0 */
  		background: -moz-linear-gradient(-20deg, $secondary-green, $secondary-green 20%, $primary-purple 20%); /* For Firefox 3.6 to 15 */
  		background: linear-gradient(-20deg, $secondary-green, $secondary-green 20%, $primary-purple 20%); /* Standard syntax */
		ul {
			width: 95%;
			font-weight: 400;

			li {

				padding: 0px;
				&:last-child {
					padding: 0px 12px;
				}
			}
		}
	}

}