$primary-purple: #532d6d;
$primary-green: #87be40;
$primary-grey: #58595b;
$primary-blue: #0b213f;
$secondary-grey: #c5ced2;

html, body, #container {
	background-color: $secondary-grey;
	font-family: "filson-pro", sans-serif;
	color: $primary-grey;
	position: relative;
	font-weight: lighter;
	letter-spacing: 0.3px;
	height: 100%;
	p {
		line-height: 1.5em;
		font-size: 1.5em;
	}
	h1 {
		color: $primary-purple;
		font-weight: 900;
		font-size: 3em;
	}
	h2 {
		color: $primary-blue;
		font-size: 2.5em;
	}
	.grnDot {
		color: $primary-green;
	}
}

#container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	position: relative;
}

#nav {
	height: 100px;
	width: 100%;
	position: relative;
	#hrpaLogo {
		position: relative;
		height: 80%;
		width: auto;
		display: inline-block;
		margin-left: 100px;
		margin-top: 8px;
		img {
			height: 100%;
		}
	}
	ul {
		display: inline;
		position: relative;
		top: 70%;
		float: right;
		right: 30px;
		letter-spacing: 1px;
		font-size: 0.8em;
		font-weight: 500;
		li {
			display: inline;
			padding: 20px 30px;

		}
	}
}

#header {
	height: 700px;
	background-image: url("../images/Header.jpg");
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    h1 {
    	color: white;
    	line-height: 50px;
    	font-size: 3.4em;
    }
    h2 {
    	color: white;
    	font-size: 2em;
    	font-weight: 400;
    	line-height: 40px;
    	margin-top: 25px;
    }
    #headerTitle {
    	position: relative;
    	display: inline-block;
    	height: 350px;
    	width: auto;
    	z-index: 2;
  		top: 27%;
  		left: 100px;
    }
    #headerText {
    	display: inline-block;
    	position: relative;
    	top: 45%;
    	left: 40px;
    }
    #box {
    	position: absolute;
    	display: inline-block;
    	width: 350px;
    	height: 350px;
    	border: 20px solid $primary-purple;
    	z-index: -1;
    	opacity: 0.8;
    }
}

.content {
	background-image: url("../images/Background.jpg");
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	.copy {
		padding: 170px 100px;
		width: 40%;
	}
	p {
		margin: 30px 0px;
	}
	h3 {
		font-size: 1.7em;
		font-weight: 400;
		display: inline;
	}
	.button {
		display: inline;
		position: relative;
		font-weight: 700;
		padding: 10px 20px;
		top: 20px;
		color: white;
		background-color: $primary-purple;
	}
}

#intelRevo {
	position: relative;
	span {
		position: relative;
		right: 22px;
	}
	img {
		position: absolute;
		height: 550px;
		right: 40px;
		top: 70px;
	}
}

#whitePaper {
	background-image: none;
	background-color: white;
	position: relative;
	h2 {
		font-size: 2em;
		margin-top: 5px;
	}
	img {
		position: absolute;
		height: 550px;
		right: 40px;
		top: 80px;
		-ms-transform: rotate(7deg); /* IE 9 */
   		-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  		transform: rotate(7deg);
	}
}

#stats {
	.title {
		padding: 100px 100px 0px 100px;
		p {
			margin-top: 60px;
		}
	}

	#statsContainer {
		width: 83%;
		margin: 0 auto;
		padding-bottom: 75px;
		font-size: 0.8em;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
		bottom: 25px;
	}
	.stat {
		width: 28%;
		display: inline-block;
		.number {
			color: $primary-green;
			font-weight: 900;
		}
		.percent {
			color: $primary-purple;
			font-weight: 900;
		}
	}
	#stat1 {
		.number {
			font-size: 14.3em;
			line-height: 65px;
			padding-bottom: 15px;
			span {
				font-size: 0.5em;
				position: relative;
				right: 72px
			}
		}
	}
	#stat2 {
		margin: 0 auto;
		.number {
			position: relative;
			left: 25px;
			font-size: 7em;
			line-height: 60px;
			padding-bottom: 15px;
			span.percent {
				font-size: 1em;
				position: relative;
				right: 30px
			}
			span#fourtyTwo {
				font-size: 1.7em;
				position: relative;
				top: 30px;
			}
		}
	}
	#stat3 {
		.number {
			font-size: 14.3em;
			line-height: 65px;
			padding-bottom: 15px;
			span {
				font-size: 0.5em;
				position: relative;
				right: 40px
			}
		}
	}

}

#archetypes {
	position: relative;
	.copy {
		padding: 280px 100px;
	}
	img {
		position: absolute;
		height: 550px;
		right: 80px;
		top: 50px;
	}
	.button {
		top: 60px;
	}
}

#logoSlate {
	text-align: center;
	background-color: white;
	p {
		width: 75%;
		margin: 0 auto;
		padding: 50px;
		font-size: 1.2em;
	}
	#logos {
		display: inline;
		margin: 0 auto;
		height: 100px;
		vertical-align: middle;
		text-align: center;
		img {
			padding: 50px 40px 120px 40px;
			width: 20%;
			vertical-align: middle;
		}
	}
}

#footer {
	height: 150px;
	background-color: $primary-purple;
	ul {
		width: 80%;
		text-align: center;
		margin: 0 auto;
		padding-top: 20px;
		font-weight: 300;
		li {
			display: inline;
			padding: 30px 30px;
			color: white;
		}
	}
}




