$primary-purple: #532d6d;
$primary-green: #87be40;
$primary-grey: #58595b;
$primary-blue: #0b213f;
$secondary-grey: #c5ced2;
$secondary-green: #d9e24d;
$secondary-blue: #0076a8;

html, body, #container {
	background-color: $secondary-grey;
	font-family: "filson-pro", sans-serif;
	color: $primary-grey;
	position: relative;
	font-weight: 400;
	font-size: 0.95em;
	letter-spacing: 0.3px;
	height: 100%;
	p {
		line-height: 1.6em;
		font-size: 1.3em;
	}
	h1 {
		color: $primary-purple;
		font-weight: 900;
		font-size: 2.9em;
	}
	h2 {
		color: $primary-blue;
		font-size: 2.4em;
		color: $primary-grey;
	}
	.grnDot {
		color: $primary-green;
	}
	a {
		color: $primary-grey;
		:hover {
			color: $secondary-green;
		}
	}
}

#container {
	margin: 0 auto;
	background-color: #ffffff;
	position: relative;
}

#nav {
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 10;
	#hrpaLogo {
		position: relative;
		height: 80%;
		width: auto;
		display: inline-block;
		margin-left: 100px;
		margin-top: 8px;
		img {
			height: 100%;
		}
	}
	ul {
		display: inline;
		position: relative;
		top: 70%;
		float: right;
		right: 30px;
		letter-spacing: 1px;
		font-size: 0.95em;
		font-weight: 500;
		li {
			display: inline;
			a {
				position: relative;
				left: 0px;
				transition: left 0.35s, color 0.35s;
				padding: 20px 30px;
				&:hover {
					left: 5px;
					color: $secondary-green;

			}

			}
		}
	}
}

#mobNav {
	display: none;
	height: auto;
	border: none;
	width: 100%;
	background-color: white;
	z-index: 10;

	#mobNavLogo {
		display: inline-block;
		height: 80px;
		padding: 20px 0;
		margin-left: 10%;
		img { 
			height: 100%;
		}
	}

	ul {
		margin: 10px auto;
		font-weight: 400;
	}

	li {
		margin: 0 auto;
		font-size: 15px;
		padding: 15px 0 15px 10%;
		a {
			padding: 10px 10px;
			letter-spacing: 0.8px;
			position: relative;
			left: 0px;
			transition: left 0.35s, color 0.35s;
			&:hover {
				left: 7px;
				color: $secondary-green;
			}
		}	
	}
}

#navButton {
	display: inline-block;
	position: absolute;
	border-radius: 10% 10%;
	top: 30px;
	right: 7%;
	width: 60px;
	height: 60px;
	background-color: white;
	cursor: pointer;

	#navInner {
		position: relative;
		width: 50%;
		margin: 0 auto;
			top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
		
		.navBtnLine {
			display: block;
			background-color: $primary-purple;
			height: 3px;
			width: 100%;
			margin: 7px auto;
			position: relative;
			top: 0;
			transition: top 0.15s linear 0.15s, transform 0.15s;

			&:first-child {
				margin-top: 0px;
			}


			&.open {
				transition: top 0.15s, transform 0.15s linear 0.15s;

				&:first-child {
					top: 10px;
					transform: rotate(45deg);
					transform-origin: center;
					-ms-transform-origin: center;
					-ms-transform: rotate(45deg);
					-webkit-transform-origin: center;
					-webkit-transform: rotate(45deg);
				}

				&:nth-child(2) {
					transform: rotate(45deg);
					transform-origin: center;
					-ms-transform-origin: center;
					-ms-transform: rotate(45deg);
					-webkit-transform-origin: center;
					-webkit-transform: rotate(45deg);
				}

				&:last-child {
					top: -10px;
					transform-origin: center;
					transform: rotate(-45deg);
					-ms-transform-origin: center;
					-ms-transform: rotate(-45deg);
					-webkit-transform-origin: center;
					-webkit-transform: rotate(-45deg);
				}
			}
			
		}
	
}

#header {
	height: 600px;
	padding-top: 100px;
	background-image: url("../images/Header3.jpg");
	background-position: 50% 32%;
	background-size: auto 130%;
	-webkit-background-size: auto 130%;
    -moz-background-size: auto 140%;
    -o-background-size: auto 140%;
    h1 {
    	color: white;
    	line-height: 50px;
    	font-size: 3.2em;
    }
    h2 {
    	color: white;
    	font-size: 1.8em;
    	font-weight: 400;
    	line-height: 35px;
    	margin-top: 20px;
    }
    #headerTitle {
    	position: relative;
    	display: inline-block;
    	height: 350px;
    	width: auto;
    	z-index: 2;
  		top: 30%;
  		left: 10%;
    }
    #headerText {
    	display: inline-block;
    	position: relative;
    	top: 35%;
    	left: 40px;
    }
    #box {
    	position: absolute;
    	display: inline-block;
    	width: 300px;
    	height: 300px;
    	border: 20px solid $primary-purple;
    	z-index: -1;
    	background-color: black;
    	opacity: 0.75;
    }
}

.copyAnim {
	position: relative;
	transition: right 1s, opacity 1s;
	-webkit-transition: right 1s, opacity 1s;
}

.headerAnim {
	@extend .copyAnim;
}

.content {
	background-image: url("../images/Background_Dktp.jpg");
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	.copy {
		padding: 200px 100px;
		width: 40%;
		position: relative;
	}
	p {
		margin: 30px 0px;
	}
	h3 {
		font-size: 1.6em;
		font-weight: 700;
		color: $primary-green;
		display: block;
		margin-bottom: 30px;
	}
	.button {
		display: inline-block;
		position: relative;
		font-weight: 700;
		padding: 14px 20px;
		margin-top: 10px;
		color: white;
		background-color: $primary-purple;
		left: 0px;
		transition: left 0.35s, color 0.35s;
		&:hover {
			left: 7px;
		}

	}
	#shareButtons {
		display: inline;
		position: relative;
		top: 10px;
		right: 2px;
	}
}

.videos {
	cursor: pointer;
}

#intelRevo {
	position: relative;
	.copy {
		position: relative;
		display: inline-block;
		left: 50%;
		padding-right: 0px;
	}
	span {
		position: relative;
		right: 18.15px;
	}
	#circleGraphic {
		position: absolute;
		height: 80%;
		left: 6%;
		top: 10%;
		img {
			height: 100%;
			transition: transform 0.25s;
			-webkit-transition: transform 0.25s;
		}
	}
}

#whitePaper {
	background-image: none;
	background-color: white;
	position: relative;
	.copy {
		padding-bottom: 175px;
	}
	h2 {
		font-size: 2em;
		margin-top: 5px;
	}
	#reportMkup {
		position: absolute;
		height: 550px;
		right: 40px;
		top: 70px;
		overflow: hidden;
		img {
			height: 100%;
			-ms-transform: rotate(7deg); /* IE 9 */
	   		-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	  		transform: rotate(7deg);
		}
	}
}

#stats {
	.title {
		padding: 100px 100px 0px 100px;
	}
	.year {
		width: 80%;
		font-weight: 400;
		font-size: 1.25em;
		margin: 60px auto 0px auto;
	}

	#statsContainer {
		text-align: center;
		vertical-align: baseline;
		top: 15px;
		width: 80%;
		margin: 0 auto;
		padding-bottom: 125px;
		font-size: 0.8em;
		font-weight: 400;
		position: relative;
	}
	.statBody {
		position: relative;
		top: 5px;
	}
	.stat {
		text-align: left;
		width: 250px;
		display: inline-block;
		.number {
			color: $primary-green;
			font-weight: 900;
		}
		.percent {
			color: $primary-purple;
			font-weight: 900;
		}
	}
	#stat1 {
		position: relative;
		.number {
			font-size: 14.3em;
			line-height: 55px;
			padding-bottom: 15px;
			color: #d9e059;
			span.percent {
				font-size: 0.5em;
				position: relative;
				right: 55px;
			}
		}
	}

	/*
	#stat2 {
		float: left;
		margin: 0 auto;
		position: relative;
		.number {
			text-transform: uppercase;
			position: relative;
			left: 25px;
			top: 2px;
			font-size: 4.5em;
			line-height: 40px;
			padding-bottom: 15px;
			span#dash {
				position: relative;
				font-size: 0.7em;
				top: 5px;
			}
			span.percent {
				font-size: 1.5em;
				position: relative;
				right: 55px;
				top: 30px;
			}
			span#fourtyTwo {
				font-size: 2.55em;
				position: relative;
				top: 30px;
				right: 10px;
			}
		}
	}
	*/

	#stat2 {
		position: relative;
		float: left;
		.number {
			font-size: 14.3em;
			line-height: 55px;
			padding-bottom: 15px;
			span.percent {
				font-size: 0.5em;
				position: relative;
				right: 73px
			}
		}
	}

	#stat3 {
		position: relative;
		float: right;
		.number {
			font-size: 14.3em;
			line-height: 55px;
			padding-bottom: 15px;
			color: #bfe076;
			span.percent {
				font-size: 0.5em;
				position: relative;
				right: 40px
			}
		}
	}

}

#archetypes {
	position: relative;
	.copy {
		padding: 260px 100px;
		width: 35%;
	}
	#archetypeWheel {
		position: absolute;
		height: 550px;
		right: 5%;
		top: 50px;
		img {
			height: 100%;
			transform-origin: 50% 50%;
			transition: transform 0.25s;
			-webkit-transition: transform 0.25s;
		}
	}
	.button {
		margin-top: 40px;
	}
}

#logoSlate {
	text-align: center;
	background-color: white;
	padding-bottom: 70px;
	p {
		width: 75%;
		margin: 0 auto;
		padding: 50px;
	}
	#logos {
		display: inline;
		margin: 0 auto;
		height: 100px;
		vertical-align: middle;
		text-align: center;
		.copyAnim {
			position: static;
		}
		img {
			padding: 50px 40px 50px 40px;
			width: 20%;
			vertical-align: middle;
			position: relative;
			left: 0;
			transition: left 0.35s;
			&:hover {
				left: 5px;
			}
		}
	}
}

video {
	width: 100%;
	height: auto;
}

#footer {
	height: 150px;
	background-color: $primary-purple;
	background: -webkit-linear-gradient(-20deg, $secondary-green, $secondary-green 15%, $primary-purple 15%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(-20deg, $secondary-green, $secondary-green 15%, $primary-purple 15%); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(-20deg, $secondary-green, $secondary-green 15%, $primary-purple 15%); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(-20deg, $secondary-green, $secondary-green 15%, $primary-purple 15%); /* Standard syntax */
	ul {
		width: 80%;
		text-align: center;
		margin: 0 auto;
		padding-top: 20px;
		font-weight: 400;
		a:hover {
			font-weight: 400;
			color: $secondary-green;
		}
		li {
			display: inline;
			color: white;
			padding: 30px;
			&:last-child {
				padding: 30px 60px;
			}
			a {
				padding: 30px;
				color: white;
				font-size: 1em;
				position: relative;
				left: 0;
				transition: color 0.35s, left 0.35s;
				&:hover {
					left: 5px;
				}
			}
		}
	}
}


@import 'media-queries';



