$primary-purple: #532d6d;
$primary-green: #87be40;
$primary-grey: #58595b;
$primary-blue: #0b213f;
$secondary-grey: #c5ced2;

html, body, #container {
	background-color: $secondary-grey;
	font-family: "filson-pro", sans-serif;
	color: $primary-grey;
	position: relative;
	font-weight: lighter;
	font-size: 0.95em;
	letter-spacing: 0.3px;
	height: 100%;
	p {
		line-height: 1.5em;
		font-size: 1.5em;
	}
	h1 {
		color: $primary-purple;
		font-weight: 900;
		font-size: 3em;
	}
	h2 {
		color: $primary-blue;
		font-size: 2.5em;
	}
	.grnDot {
		color: $primary-green;
	}
	a {
		color: $primary-grey;
		:hover {
			color: $primary-green;
		}
	}
}

#container {
	margin: 0 auto;
	background-color: #ffffff;
	position: relative;
}

#nav {
	height: 100px;
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 10;
	#hrpaLogo {
		position: relative;
		height: 80%;
		width: auto;
		display: inline-block;
		margin-left: 100px;
		margin-top: 8px;
		img {
			height: 100%;
		}
	}
	ul {
		display: inline;
		position: relative;
		top: 70%;
		float: right;
		right: 30px;
		letter-spacing: 1px;
		font-size: 0.8em;
		font-weight: 500;
		li {
			display: inline;
			padding: 20px 30px;

		}
		a {

		}
	}
}

#mobNav {
	display: none;
	height: auto;
	border: none;
	width: 100%;
	background-color: white;
	z-index: 10;

	#mobNavLogo {
		display: inline-block;
		height: 80px;
		padding: 20px 0;
		margin-left: 10%;
		img { 
			height: 100%;
		}
	}

	ul {
		margin: 10px auto;
		font-weight: 400;
	}

	li {
		padding: 15px 0 15px 10%;
		margin: 0 auto;
		font-size: 15px;
	}
}

#navButton {
	display: inline-block;
	position: absolute;
	border-radius: 10% 10%;
	top: 30px;
	right: 7%;
	width: 60px;
	height: 60px;
	background-color: white;
	cursor: pointer;

	#navInner {
		position: relative;
		width: 50%;
		margin: 0 auto;
			top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}
		
		.navBtnLine {
			display: block;
			background-color: $primary-purple;
			height: 3px;
			width: 100%;
			margin: 7px auto;
			position: relative;
			top: 0;
			transition: top 0.15s linear 0.15s, transform 0.15s;

			&:first-child {
				margin-top: 0px;
			}


			&.open {
				transition: top 0.15s, transform 0.15s linear 0.15s;

				&:first-child {
					top: 10px;
					transform: rotate(45deg);
					transform-origin: center;
					-ms-transform-origin: center;
					-ms-transform: rotate(45deg);
					-webkit-transform-origin: center;
					-webkit-transform: rotate(45deg);
				}

				&:nth-child(2) {
					transform: rotate(45deg);
					transform-origin: center;
					-ms-transform-origin: center;
					-ms-transform: rotate(45deg);
					-webkit-transform-origin: center;
					-webkit-transform: rotate(45deg);
				}

				&:last-child {
					top: -10px;
					transform-origin: center;
					transform: rotate(-45deg);
					-ms-transform-origin: center;
					-ms-transform: rotate(-45deg);
					-webkit-transform-origin: center;
					-webkit-transform: rotate(-45deg);
				}
			}
			
		}
	
}

#header {
	height: 700px;
	padding-top: 100px;
	background-image: url("../images/Header.jpg");
	background-position: 50% 60px;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    h1 {
    	color: white;
    	line-height: 50px;
    	font-size: 3.2em;
    }
    h2 {
    	color: white;
    	font-size: 1.8em;
    	font-weight: 400;
    	line-height: 35px;
    	margin-top: 20px;
    }
    #headerTitle {
    	position: relative;
    	display: inline-block;
    	height: 350px;
    	width: auto;
    	z-index: 2;
  		top: 30%;
  		left: 10%;
    }
    #headerText {
    	display: inline-block;
    	position: relative;
    	top: 35%;
    	left: 40px;
    }
    #box {
    	position: absolute;
    	display: inline-block;
    	width: 300px;
    	height: 300px;
    	border: 20px solid $primary-purple;
    	z-index: -1;
    	background-color: black;
    	opacity: 0.8;
    }
}

.content {
	background-image: url("../images/Background.jpg");
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;
	.copy {
		padding: 200px 100px;
		width: 40%;
	}
	p {
		margin: 30px 0px;
	}
	h3 {
		font-size: 1.7em;
		font-weight: 400;
		display: inline;
	}
	.button {
		display: inline;
		position: relative;
		font-weight: 700;
		padding: 10px 20px;
		top: 20px;
		color: white;
		background-color: $primary-purple;
	}
	#shareButtons {
		display: inline;
	}
}

#intelRevo {
	position: relative;
	.copy {
		position: relative;
		display: inline-block;
		left: 50%;
		padding-right: 0px;
	}
	span {
		position: relative;
		right: 18.75px;
	}
	#circleGraphic {
		position: absolute;
		height: 80%;
		left: 6%;
		top: 10%;
		img {
			height: 100%;
		}
	}
}

#whitePaper {
	background-image: none;
	background-color: white;
	position: relative;
	h2 {
		font-size: 2em;
		margin-top: 5px;
	}
	#reportMkup {
		position: absolute;
		height: 550px;
		right: 40px;
		top: 55px;
		overflow: hidden;
		img {
			height: 100%;
			-ms-transform: rotate(7deg); /* IE 9 */
	   		-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	  		transform: rotate(7deg);
		}
	}
}

#stats {
	.title {
		padding: 100px 100px 0px 100px;
	}
	.year {
		width: 80%;
		margin: 50px auto 30px auto;
	}

	#statsContainer {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 75px;
		font-size: 0.8em;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
		bottom: 25px;
	}
	.stat {
		width: 300px;
		display: inline-block;
		.number {
			color: $primary-green;
			font-weight: 900;
		}
		.percent {
			color: $primary-purple;
			font-weight: 900;
		}
	}
	#stat1 {
		.number {
			font-size: 14.3em;
			line-height: 55px;
			padding-bottom: 15px;
			span {
				font-size: 0.5em;
				position: relative;
				right: 72px
			}
		}
	}
	#stat2 {
		margin: 0 auto;
		position: relative;
		left: 30px;
		.number {
			position: relative;
			left: 25px;
			font-size: 7em;
			line-height: 50px;
			padding-bottom: 15px;
			span#dash {
				position: relative;
				font-size: 0.7em;
				top: 5px;
			}
			span.percent {
				font-size: 1em;
				position: relative;
				right: 20px
			}
			span#fourtyTwo {
				font-size: 1.7em;
				position: relative;
				top: 30px;
			}
		}
	}
	#stat3 {
		position: relative;
		left: 40px;
		.number {
			font-size: 14.3em;
			line-height: 55px;
			padding-bottom: 15px;
			span {
				font-size: 0.5em;
				position: relative;
				right: 40px
			}
		}
	}

}

#archetypes {
	position: relative;
	.copy {
		padding: 280px 100px;
	}
	#archetypeWheel {
		position: absolute;
		height: 550px;
		right: 10%;
		top: 50px;
		img {
			height: 100%;
		}
	}
	.button {
		top: 60px;
	}
}

#logoSlate {
	text-align: center;
	background-color: white;
	p {
		width: 75%;
		margin: 0 auto;
		padding: 50px;
		font-size: 1.2em;
	}
	#logos {
		display: inline;
		margin: 0 auto;
		height: 100px;
		vertical-align: middle;
		text-align: center;
		img {
			padding: 50px 40px 120px 40px;
			width: 20%;
			vertical-align: middle;
		}
	}
}

#footer {
	height: 150px;
	background-color: $primary-purple;
	background: -webkit-linear-gradient(-20deg, #d9e24d, #d9e24d 15%, $primary-purple 15%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(-20deg, #d9e24d, #d9e24d 15%, $primary-purple 15%); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(-20deg, #d9e24d, #d9e24d 15%, $primary-purple 15%); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(-20deg, #d9e24d, #d9e24d 15%, $primary-purple 15%); /* Standard syntax */
	ul {
		width: 80%;
		text-align: center;
		margin: 0 auto;
		padding-top: 20px;
		font-weight: 300;
		li {
			display: inline;
			padding: 30px 30px;
			color: white;
		}
	}
}


@import 'media-queries';



